---
name: Push/Pull actions

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main

  pull_request:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate
    steps:
      - uses: "actions/checkout@v3"

      - name: HACS validation
        uses: "hacs/action@main"
        with:
          CATEGORY: "integration"

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"

  style:
    runs-on: "ubuntu-latest"
    name: Check style formatting
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-python@v4"
        with:
          python-version: "3.x"
      - run: pip install pre-commit==2.9.3
      - run: pre-commit run --all-files
      - run: if git ls-files | xargs file | grep CRLF; then exit 1; fi
